<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tarot of the Silicon Dawn</title>
    <style>body{background: black; color: dimgrey;}</style>
  </head>
  <body>
    <div id="content" style="text-align: center;">
      <img src="{{ card_dir }}/{{ card_name }}" alt="{{ card_name }}" />
      <br />
      <img src="{{ card_dir }}/{{ card_text }}" alt="{{ card_text }}" />
      <p>
        Everything is &copy; Egypt Urnash.
        For more information please see <a href="https://egypt.urnash.com/tarot/">the Silicon Dawn Official Website.</a>
      </p>
      <p>
        Code for this page can be found at <a href="https://github.com/onlyhavecans/silicon-dawn">my personal repository.</a>
      </p>
    </div>
  </body>
</html>
