<!doctype html>
<html>
  <head>
    <title>Tarot of the Silicon Dawn</title>
    <style TYPE="text/css">body{background: black;color: dimgrey}</style>
  </head>
  <body bgcolor="#000000">
    <center>
    {{~> page}}
    {{> footer}}
    </center>
  </body>
</html>
